 
* {
	box-sizing: border-box;
}

html {
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;

	line-height: 135%;
}

body
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

main {
	width: 100%;
	max-width: 75rem;

	margin: 2rem auto 2rem auto;

	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0px 0px 10px grey;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'century gothic', arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	margin: 0 0 0 0;
	padding: 10px 0 10px 0;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.75rem; }

a {
	color: rgb(0, 119, 26);
}

pre {
	padding-left: 1rem;
	white-space: pre-wrap;

	font-size: 0.8rem;
	color: rgb(50, 50, 50);
	letter-spacing: -0.05em;
}


figure {
	/* margin: 1rem 0 1rem 0; */
	margin: 0;
	width: 100%;
}

figure img {
	width: 100%;
	max-width: 100%;
}
